.homeTeam {
  color: darkgreen;
}
.awayTeam {
  color: darkblue;
}

.goalMinute {
	color: grey;
	font-style: inherit;
}

.score {
  color: darkgrey;
}

.lastUpdate {
  font-size: 12px;
}

.center {
	 text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.italic {
    font-style: italic;
}

table {
    color: black;
    border: 1px solid #b4b4b4;
    background: #fff;
    font: bold 12px helvetica;
    padding: 0;
    margin-top:10px;
    width: 100%;
    -webkit-border-radius: 8px;
}

table tr td {
    color: #666;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 5px;
    text-align:left;
}

table tr td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}

.userTeam {
    background: Gold;
}

.lines {
    width: 10px;
    height: 30px;
    background:#eee;
    background: -webkit-linear-gradient(top, #ccc 0, #ccc 20%, #fff 20%, #fff 40%, #ccc 40%, #ccc 60%, #fff 60%, #fff 80%, #ccc 80%, #ccc 100%);
    background: -moz-linear-gradient(top, #ccc 0, #ccc 20%, #fff 20%, #fff 40%, #ccc 40%, #ccc 60%, #fff 60%, #fff 80%, #ccc 80%, #ccc 100%);
    background: -o-linear-gradient(top, #ccc 0, #ccc 20%, #fff 20%, #fff 40%, #ccc 40%, #ccc 60%, #fff 60%, #fff 80%, #ccc 80%, #ccc 100%);
    background: -ms-linear-gradient(top, #ccc 0, #ccc 20%, #fff 20%, #fff 40%, #ccc 40%, #ccc 60%, #fff 60%, #fff 80%, #ccc 80%, #ccc 100%);
    background:linear-gradient(top, #ccc 0, #ccc 20%, #fff 20%, #fff 40%, #ccc 40%, #ccc 60%, #fff 60%, #fff 80%, #ccc 80%, #ccc 100%);
}

.progressBar {
  padding-top: 5px;
}
