<script type="text/template" id="player">
    <h3>{{name}}</h3>
    <p>Age: {{age}}y {{ageDays}}d</p>
    <p>TSI: <strong>{{tsi}}</strong> Salary: <strong>{{salary}}</strong></p>
    {{#cards}}<img src='../img/card_{{cards}}.png'/>{{/cards}}
    {{#injury}}<img src='../img/injury_{{injury}}.gif'/>{{/injury}}

    {{#skills}}
    <table id="playerSkills">
        <tr>
            <td>Stamina</td>
            <td>{{skills.stamina.name}}</td>
        </tr>
        <tr>
            <td>Keeper</td>
            <td>{{skills.keeper.name}}</td>
        </tr>
        <tr>
            <td>Playmaker</td>
            <td>{{skills.playmaker.name}}</td>
        </tr>
        <tr>
            <td>Scorer</td>
            <td>{{skills.scorer.name}}</td>
        </tr>
        <tr>
            <td>Passing</td>
            <td>{{skills.passing.name}}</td>
        </tr>
        <tr>
            <td>Winger</td>
            <td>{{skills.winger.name}}</td>
        </tr>
        <tr>
            <td>Defense</td>
            <td>{{skills.defense.name}}</td>
        </tr>
        <tr>
            <td>Set Pieces</td>
            <td>{{skills.setPieces.name}}</td>
        </tr>
    </table>
    {{/skills}}
</script>
