<script type="text/template" id="player">
    <h3>{{name}}</h3>
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <p>{{age}} years {{ageDays}} days</p>
        </div>
        <div class="ui-block-b">
            <p>{{#cards}}<img src='../img/card_{{cards}}.png'/>{{/cards}}{{#injury}}<img src='../img/injury_{{injury}}.gif'/>{{/injury}} {{#injuryTime}}{{injuryTime}}{{/injuryTime}}</p>
        </div>
    </div>
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <p>TSI: </p>
            <p>Salary: </p>
            <p>Experience: </p>
            <p>Leadership: </p>
            <p>Form: </p>
        </div>
        <div class="ui-block-b">
            <p><strong>{{tsi}}</strong></p>
            <p><strong>{{salary}}</strong></p>
            <p><strong>{{experience}}</strong></p>
            <p><strong>{{leadership}}</strong></p>
            <p><strong>{{form}}</strong></p>
        </div>
    </div>

    <p>{{#skills}}
    <table id="playerSkills">
        <tr>
            <td>Stamina</td>
            <td>{{skills.stamina.name}}</td>
            <td><div class='progressBar' id='skillStamina'></div></td>
        </tr>
        <tr>
            <td>Keeper</td>
            <td>{{skills.keeper.name}}</td>
            <td><div class='progressBar' id='skillKeeper'></div></td>
        </tr>
        <tr>
            <td>Playmaker</td>
            <td>{{skills.playmaker.name}}</td>
            <td><div class='progressBar' id='skillPlaymaker'></div></td>
        </tr>
        <tr>
            <td>Scorer</td>
            <td>{{skills.scorer.name}}</td>
            <td><div class='progressBar' id='skillScorer'></div></td>
        </tr>
        <tr>
            <td>Passing</td>
            <td>{{skills.passing.name}}</td>
            <td><div class='progressBar' id='skillPassing'></div></td>
        </tr>
        <tr>
            <td>Winger</td>
            <td>{{skills.winger.name}}</td>
            <td><div class='progressBar' id='skillWinger'></div></td>
        </tr>
        <tr>
            <td>Defense</td>
            <td>{{skills.defense.name}}</td>
            <td><div class='progressBar' id='skillDefense'></div></td>
        </tr>
        <tr>
            <td>Set Pieces</td>
            <td>{{skills.setPieces.name}}</td>
            <td><div class='progressBar' id='skillSetPieces'></div></td>
        </tr>
    </table>
    {{/skills}}
    </p>
</script>
